.options {
    display: flex;
    flex-wrap: wrap;
}


.options>div {
    padding: 1em;
    border: solid;
    border-color: lightgrey;
}

#viewport {
    border: solid;
    border-color: lightgrey;
}

.box {
    padding: 1em;
}