* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #cbd8df;
  color: #141e26;
  line-height: 1.4;
}

#content {
  transition: margin-left .5s;
  padding: 16px;
  margin: 0 auto;
  margin-top: 5px;
  max-width: 800px;
  min-width: 500px;

  border: solid 2px #141e26;

}



.subpages {
  display: flex;
  flex-wrap: wrap;
}

.subPageEntry:nth-child(even) {
  background-color: #b1c4cf;

}

.subpages .subPageEntry {
  border: solid 1px #141e26;
  padding: 10px;
  flex-grow: 1;
  max-width: 30%;
}

.pageEntryPreviewImageContainer {
  height: 100px;
}

.pageEntryPreviewImageContainer img {

  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.navigationBase {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: left;
}

.navigationBase .navigationBaseEntry {
  display: inline-block;
  padding: 5px;
  border: solid 2px #141e26;
}

#scrollUpButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #141e26;
  color: #cbd8df;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#scrollUpButton:hover {
  background-color: #1e5067;
}

.figure {
  width: 80%;
  margin: 0 auto;
}

#navigation a:not([href]) {
  font-weight: bold;
  font-size: large;
}