body {
  background-color: #b1c4cf;
  color: #141e26;
  line-height: 1.4;
  font-size: 18px;
}

#navigation {
  height: 100%;
  width: 30%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #141e26;
  overflow-x: hidden;
  transition: 0.5s;
  /* padding-left: 20px; */
  /* padding-top: 60px; */

  /* margin: 10px; */
}



#content {
  margin-left: 30%;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 800px;
  background-color: #cbd8df;

}

#navigation>ul {
  margin-left: 20px;
  padding: 5px;

}

#navigation ::marker {
  color: #cbd8df;
  content: "▶";

}

#navigation li>ul {
  margin-top: 4px;
  margin-bottom: 4px;
}

#navigation ul {
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 8px;
  margin-bottom: 0px;
  margin-top: 0px;
}

#navigation a {
  text-decoration: none;
  color: #cbd8df;
  display: block;
  transition: 0.3s;
}

#navigation .navigationTree {
  margin: 10px;
  overflow: auto;
  position: relative;
}

.navigationTree::after {
  content: "scroll down";
  display: block;
  width: 100%;
  color: #cbd8df;
  background-color: #1e5067;
  position: sticky;
  bottom: 0px;
  text-align: center;
  font-size: 23px;
  height: 25px;
}

.navigationTree > ul::after {
  content: "";
  width: 100%;
  background-color: #141e26;
  position: absolute;
  left: 0;
  z-index: 100;
  height: 26px;
}

#navigation .navigationTree>* {
  /* margin-bottom: 50px; */
}

#navigation li {
  padding-top: 5px;
}

#navigation a:hover {
  color: #f1f1f1;
}

#navigation .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;

}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #141e26;
  color: #cbd8df;
  padding: 10px 15px;
  border: none;
}

.demo * {
  margin: 0 auto;
}

.openbtn:hover {
  background-color: #1e5067;
}

#content {
  transition: margin-left .5s;
  padding: 16px;
}

#footer {
  border-top: solid black 1px;
}

#footer a {
  padding: 5px;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.navigationBase {
  display: flex;
  margin: 0 auto;
  align-items: center;  
  justify-content: center;
  max-height: 10%;
}

.navigationBase .navigationBaseEntry {
  display: inline-block;
  padding: 5px;
  border: solid 2px #cbd8df;

}

.navigationTree {
  max-height: 90%;
  min-height: 70%;
  margin-bottom: 20px;
  border-top: solid 2px #cbd8df;
  /* margin-top: 10px; */
  float: left;
  width: calc(100% - 20px);
  flex-grow: 1;

}

#footer .previous {
  margin-left: 0;
  margin-right: auto;
}


#footer .next {
  margin-right: 0;
  margin-left: auto;
}

#scrollUpButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #141e26;
  color: #cbd8df;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#scrollUpButton:hover {
  background-color: #1e5067;
}

.spoiler:hover {
  background-color: #cbd8df;
  color: #141e26;
}

.hideableButton {
  display: inline-block;
  background-color: #b1c4cf;
  color: #141e26;
  padding: 5px;
  border: solid 2px #141e26;
  font-size: large;
}


.spoiler {
  background-color: #141e26;
  color: #141e26;

}

.unhidenspoiler>* {
  opacity: 1 !important;
  z-index: 1 !important;
}

.hideableHidden {
  display: none;
}

.hideablePreview {
  padding: 10px;
  border: #141e26 solid 2px;
  font-size: large;
}


.figure {
  width: 80%;
  margin: 0 auto;
}


.highlightContainer {
  background-color: #b1c4cf;
  color: #121b22;
  padding: 10px;
}